@font-face {
    font-family: 'Ofelia Std Book';
    src: url('../fonts/OfeliaStd-BookItalic.woff2') format('woff2'),
        url('../fonts/OfeliaStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/OfeliaStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-Bold.woff2') format('woff2'),
        url('../fonts/OfeliaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std Book';
    src: url('../fonts/OfeliaStd-Book.woff2') format('woff2'),
        url('../fonts/OfeliaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-Light.woff2') format('woff2'),
        url('../fonts/OfeliaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-LightItalic.woff2') format('woff2'),
        url('../fonts/OfeliaStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-Ultralight.woff2') format('woff2'),
        url('../fonts/OfeliaStd-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-Medium.woff2') format('woff2'),
        url('../fonts/OfeliaStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-UltralightItalic.woff2') format('woff2'),
        url('../fonts/OfeliaStd-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ofelia Std';
    src: url('../fonts/OfeliaStd-MediumItalic.woff2') format('woff2'),
        url('../fonts/OfeliaStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Better Friend';
    src: url('../fonts/BetterFriend-Regular.woff2') format('woff2'),
        url('../fonts/BetterFriend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Better Friend';
    src: url('../fonts/BetterFriend-Regular.woff2') format('woff2'),
        url('../fonts/BetterFriend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Better Friend';
    src: url('../fonts/BetterFriend-Regular.woff2') format('woff2'),
        url('../fonts/BetterFriend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url('../fonts/FrankRuhlLibre-Black.woff2') format('woff2'),
        url('../fonts/FrankRuhlLibre-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url('../fonts/FrankRuhlLibre-Bold.woff2') format('woff2'),
        url('../fonts/FrankRuhlLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url('../fonts/FrankRuhlLibre-Light.woff2') format('woff2'),
        url('../fonts/FrankRuhlLibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url('../fonts/FrankRuhlLibre-Medium.woff2') format('woff2'),
        url('../fonts/FrankRuhlLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url('../fonts/FrankRuhlLibre-Regular.woff2') format('woff2'),
        url('../fonts/FrankRuhlLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


