@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@mixin animate-line {
    background-color: red;
    bottom: -8px;
    content: "";
    height: 3px;
    right: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s;
  }
  
  @mixin animate-line-hover {
    left: 0;
    width: 100%;
  }
  
  @mixin bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  @mixin d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // ===========================
  // media Query--Responsive
  // ============================
  
  @mixin large-screen {
    @media (min-width: 1366px) {
      @content;
    }
  }
  
  @mixin medium-screen {
    @media (max-width: 1366px) {
      @content;
    }
  }
  
  @mixin tab-screen {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mobile-screen {
    @media (max-width: 576px) {
      @content;
    }
  }
  


  @keyframes slide-words {
    to {
      transform:translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
   
    85% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(30%);
      opacity: 0;
    }
    90% {
      transform: translateX(30%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
    }
  }